body{
	background-color: #e6a800; /*bakgrundsfärgen för hemsidan*/
	display: grid; /*Gör så att css förstår att man gör en grid*/
	grid-template-columns: 1fr 2fr 1fr; /*skapar 3 kollumner där den mittersta är dubbelt så stor*/
	grid-template-rows:100px 50px auto 100px 100px 100px;  /*samma som kollumner fast rader och jag har gjort dom i px för att få mer specifika storlekar*/
	grid-template-areas: /*namnger olika sektioner i sidan så att översta är sidhuvud menyn under osv*/
	"header header header"
	"nav nav nav"
	"main main main"
	"footer footer footer"; 
	grid-gap: 15px; /*så att varje grid får ett utrymme på 15pixlar*/

}
header{
	grid-area:header; /*header hamnar i gridarean "header" vilket ska vara högst upp*/
}
header>h1{
	text-align: center; /*centrerar texten*/
	text-shadow: 2px 1px #db3939; /*gör så att texten får en skugga bakom sig med färgen röd*/
}

nav a{
	text-decoration: none; /*tar bort strecket under som indikerar att det är en länk*/
	font-size: 20pt; /*gör texten 20pt*/
	font-family: Helvetica; /*byter typsnitt från vanliga till helvetica*/
}

nav a:hover { /*gör så att texeten byter färg när man tar sin mus över*/
	background-image: linear-gradient(
    45deg,
    #CA4246, 
    #E16541, 
    #E16541, 
    #F18F43, 
    #F18F43, 
    #8B9862, 
    #8B9862, 
    #476098, 
    #476098, 
    #A7489B); /*gör så att man kan ha flera bilder som är åt 45 grader*/
	background-size: 100%; /*100% gör så att man får med alla färger */ 
	-webkit-background-clip: text; /*så att färgen "maskeras" på texten och inte läcker*/
	-webkit-text-fill-color: transparent; /*utan detta så blir det ingen färg alls*/
}

nav{
	grid-area:nav; 
	display:grid;
}

nav ul{
	font-size: 2em; /*textstorlek*/
	border: 4px inset #ffd76b; /*en kant som är infälld*/
	grid-template-columns:1fr 1fr 1fr; 
	display:grid;
	margin:0; /*tar bort marginalet mellan det de andra gridsen runt om och bordern*/
	padding:0; /*gör bordern närmare själva texten*/
	background-color:#ffc014;
	
}

nav li{
	list-style-type:none; /*tar bort punkterna i menyn*/
	text-align:center; /*centrerar texten*/
}

main {
	grid-area: main;
	display:grid;
}

.Startsida{
	grid-column-start: 2; /*sätter kollumnen i kollumn två*/
	font-size: 14pt;
}

footer{
	grid-area: footer;
}

.titel1 {
	text-align:center;
	grid-area:header;
	text-shadow: 2px 1px #295200; /*skugga bakom texten*/ 
}

.titel2 {
	text-align:center;
	grid-area:header;
	text-shadow: 2px 1px #6e34eb;
}

.titel3 {
	text-align:center;
	grid-area:header;
	color:#d1d1d1; /*ändrar färg*/

}

ul{ 
font-size: 20pt;
}

#background{
	background-color: #5ea333; /*ändrar bakgrundsfärg*/
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows:100px 50px auto 100px; 
	grid-template-areas: 
	"header header header"
	"nav nav nav"
	"main main main"
	"footer footer footer"; 
}
 
img {
	 height:500px; /*ändrar bild storlek vertikalt*/
	 width:400px; /*ändrar storlek horisontellt*/
	 border: groove red 10px; 
}

#categories{
	font-size: 2em;
	border: 4px inset #2d7500;
	grid-template-columns:1fr 1fr 1fr;
	display:grid;
	margin:0;
	padding:0;
	background-image: linear-gradient(#337509,#5ea333,#2d7500);
	}
	
#categories1{
	font-size: 2em;
	border: 4px inset #560070;
	grid-template-columns:1fr 1fr 1fr;
	display:grid;
	margin:0;
	padding:0;
	background-image: linear-gradient(#77009c,#e694ff,#77009c);
    }

#categories2{
	font-size: 2em;
	border-bottom: 4px dotted #919191;
	grid-template-columns:1fr 1fr 1fr;
	margin:0;
	padding:0;
	background-image: linear-gradient(#404040,#a3a3a3,#400e0e); /*flera färger i som blendar varandra*/
}

#backgroundtab{
	background-color:#9438a8;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows:100px 50px auto 100px; 
	grid-template-areas: 
	"header header header"
	"nav nav nav"
	"main main main"
	"footer footer footer"; 
	}
	
#backgroundtab1{
	background-image: url("gifbild.gif");
	margin:15px;
	padding:15px;
	background-repeat: no-repeat; /*så bilden inte upprepar sig*/
	background-size: 1920px 1650px; /*annan storlek*/
}
		
	
table,th,td {
	border: 1px solid black;
	border-collapse: collapse; /*slår ihop kanterna i din border*/
	width: 100%;
	grid-column-start:2;
}

th{ 
	background-color:#fcba03;
	font-size: 15pt;
	text-align:center;
}

tr:nth-child(2) { background-color:#4694d4; } /*ändrar färg på kollumn två i tabellen dom under är samma sak fast olika rader*/

tr:nth-child(3) { background-color:#fcba03; }

tr:nth-child(4) { background-color:#4694d4; }

tbody:hover td[rowspan], tr:hover td {
   background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}   /*Ändrar färg när man tar musen över tabellen*/

